
/* HEADER SECTON  ================================================================================ */
.header-section {
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
    position: fixed;
    z-index: 999;
    min-width: 100%;
}

.contain-to-grid {
    background-color: rgba(255, 255, 255, 0.97);
}

// FILL USED FOR HEADER
.header-fill {
    background: #fff;
    height: 135px;
    .tablet-mobile-logo img {
        padding-top: 30px;
    }
}



/* TOPBAR NAVGATION ========================================================================== */
.top-bar
{
    background: none;
    padding: 25px 0.9375rem 90px 0.9375rem;
    transition: all 0.2s ease 0.1s;
    // LOGO ADJUSTMENT
    ul.title-area img {
        margin: -10px 0 0 0;
    }
    .top-bar-section ul {
        background: none;
        // MENU ITEM STYLES
        li a:not(.button), li.active a:not(.button) {
            background: none;
            line-height: 30px;
            font-size: 12px;
            padding: 0;
            margin: 5px 0 0 0;
            // text-transform: uppercase;
        }
        // MENU ITEM HOVERS
        li a:not(.button):hover {
            background: none;
            border-bottom: 2px solid $primary-color;
            color: darken($secondary-color, 20%) !important;
        }
        // MENU ITEM ACTIVE
        li.active a:not(.button) {
            ///border-bottom: 2px solid $primary-color;
            color: $secondary-color;
            &:hover {
                background: none;
                color: $secondary-color;

            }
        }
        li {
            margin-left: 30px;
            a {
                color: $secondary-color;
            }
            a.active {
                color: $primary-color;
            }
        }
    }
    // DROPDOWN MENU

    .top-bar-section ul li:hover:not(.has-form) > a {
        color: #333;
    }
    .top-bar-section li ul.dropdown {
        background: #fff;
        border: 1px solid #ddd;
        color: #888;
        li {
            border-bottom: 1px solid #ddd;
            margin: 0;
            padding: 5px 15px 5px 15px;
        }
    }
    .top-bar-section li ul.dropdown li a:not(.button):hover, .top-bar-section li ul.dropdown li a:not(.button) {
        background: none;
        color: #222;
        border-bottom: none;
        padding: 20px -4px 40px 45px;
    }
    .top-bar-section ul.dropdown li:hover:not(.has-form) > a:not(.button) {
        background: none;
        color: #222;
    }
    // DROPDOWN ARROW
    .has-dropdown > a:after {
        border-color: rgba(0, 0, 0, 0.5) transparent transparent;
        margin-top: -5px;
    }
}

// USED FOR JQUERY ACTION
.padding-on-my-header {
    padding: 17px 0.9375rem 62px 0.9375rem;
    ul.title-area img {
        margin: -5px 0 0 0;
    }
}

.full-width {
    min-width: 100%;
}

p {
    line-height: 3rem;
    padding-bottom: 30px;
}

/* MEDIA QUERIES NAV STYLES ========================================================================== */
@media only screen and (max-width: 1024px) {
    .top-bar.expanded .title-area {
      background: #FFFFFF ;
    }

    // .top-bar-section ul {
    //   background: #FFFFFF !important;
    // }

    .top-bar {
        margin-top: 0;
        padding: 0;
        float: none;
        // MENU BUTTON AND HAMBURGER ICON
        .toggle-topbar.menu-icon a {
            color: #222;
            &:after {
                box-shadow: 0 10px 0 1px #222, 0 16px 0 1px #222, 0 22px 0 1px #222;
            }
        }
        // LOGO
        ul.title-area img {
            margin: -2px 0 0;
            width: 145px;
        }
        .top-bar-section {
            ul {
                background: #FFFFFF;
                li {
                    margin-left: 0;

                }
                li > a {
                    color: $secondary-color;
                    background: $primary-color;
                    border-radius: 0;
                    font-size: 0.9rem;
                }
                // NORMAL BUTTONS
                li:not(.has-form) a:not(.button) {
                    background: none;
                    color: $secondary-color;
                    padding: 10px 15px;
                    margin-top: 0;
                    &:hover {
                        background: $primary-color;
                        color: #fff !important;
                        margin-top: 0;
                    }
                }
                // ACTIVE BUTTON
                li.active:not(.has-form) a:not(.button) {
                    background: $primary-color;
                    color: #fff;
                    padding: 10px 15px;
                    margin-top: 0;
                    &:hover {
                        background: lighten($primary-color, 5%);
                        margin-top: 0;
                    }
                }
            }
        }
    }
    // SMALLER IMAGE
    .top-bar ul.title-area img {
        margin: 5px 13px 0;
        width: 155px;
    }

    .top-bar.padding-on-my-header ul.title-area img {
        margin: 5px 13px 0;
        width: 155px;
    }
    // EXPANDED TOPBAR MENU
    .top-bar.expanded {
        margin-top: 0;
        padding: 0;
        float: none;
        .toggle-topbar.menu-icon a {
            color: #fff;
            &:after {
                box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
            }
        }
    }


    // SMALLER HEADER
    .header-fill {
        height: 40px;
    }

}

/* CONTENT SECTION ========================================================================== */

.margin-bottom {
    margin-bottom: 1rem;
}

.margin-top {
    margin-top: 2rem;
}

p {
  line-height: 2rem;
}
.content-section {
    .main-content {
        // margin-top: 35px;
    }
}

.section-title{
    margin-bottom: 1em;

}


.stroke {
    background-color: #ff9900;
    margin-bottom: 1rem;
    h2 {
        padding:.5rem;
        color: #fff;
    }
}

.grey {
    background-color: #F1F1F1;
}

.slide-height {
    height:281px !important;
}

.slick-slide img {
    float:right;
}

.center {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    float: none !important;

}

/* PARALLAX CONTENT SECTION ========================================================================== */
.parallax-background {
    // background-color: #FF9900;
    height: 500px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-backgound-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    width: 100%;
}

.intro-text {
    max-width: 100%;
    color: #BAB8B8;
    text-align: center;
    // margin-top: 2%;
}

.parallax-content {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    top: 29rem;
    background-color: #fff;
}
/* SMALL SCREENS */
@media only screen and (max-width: 40em) {
    .slick-slide img {
    align:center;
    }
    .parallax-background {
        margin-top: 1rem;
    }
    .parallax-content {
        top: 10rem;
    }
    .slick-next {
        display:none !important;
    }
    .slick-prev {
        display:none !important;
    }
}
/* MEDIUM SCREENS */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .parallax-background {
        margin-top: 2rem;
    }
    .parallax-content {
        top: 22rem;
    }

}


/* FOOTER SECTION */
.footer {
    padding-top: 1rem;
    margin-top: 2rem;
    // height: 4rem;
    background-color: #FF9900;
    color: #fff;
    a {
            color:#fff;
            :hover {
                color: #cc7a00;
            }
        }

    p {
        padding:0;
        margin: 0 auto;
        .button {
            margin-top:1rem;
        }
    }

    .pdfs {
        padding-top:1rem;
        a {
            margin-left: 0.5rem;

        }
    }

    .social {
        float:right;
        // padding-top:1rem;
        padding-left:0.3em;
        font-size: 3rem;
        color:#cc7a00;
            a:hover {
                color: #fff;
            }

    }

    //  .copyright {
    //     float:right;
    //     padding-top:1rem;
    //     padding-right:0;
    // }

    ul {
        list-style: none;
        display: block;
        li {
            float: right;
            padding-right: 2em;
        }

        a:hover {
            color: darken($secondary-color, 20%) !important;
            }
    }
    @media only screen and (max-width: 40em) {
       // border-right: none;
    }
}

